aiohttp
astroid
async-timeout
asyncio-dgram
attrs
certifi
chardet
click
colorama
cycler
discord
discord.py
dnspython
dnspython3
idna
idna-ssl
isort
kiwisolver
lazy-object-proxy
matplotlib
mccabe
mcstatus
millify
multidict
numpy
opencv-python
Pillow
pyparsing
python-dateutil
requests
six
style
TextToOwO
typed-ast
typing-extensions
update
urllib3
websockets
wrapt
yarl
